@charset "UTF-8";

body {
    margin: 0px;
}



.container {
    // padding-left: 15px;
    // padding-right: 15px;
    // margin-top: 10px;
    // margin-left: 150px;
    // margin-right: 150px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: relative;
    z-index: 1;


    .navbar-brand {
        color: #fff;
        font-size: larger;
        font-weight: 600;
        text-decoration: none;
        margin-left: 20px;
    }



    .navbar-nav {

        display: inline-flex;


        .nav-item {
            list-style: none;
            margin-left: 20px;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }

            .nav-link {
                color: #fff;
                font-size: medium;
                text-decoration: none;
            }
        }
    }





    /* モーダルCSS */
    .modalArea {
        display: none;
        position: fixed;
        z-index: 10;
        /*サイトによってここの数値は調整 */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &.modalBg {
            width: 100%;
            height: 100%;
            background-color: rgba(30, 30, 30, 0.9);
        }
    }



    .modalWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: auto;
        max-width: 500px;
        padding: 10px 30px;
        background-color: #fff;
        border-radius: 10px;

        &.modal-title {
            font-size: larger;
        }

        &.closeModal {
            position: absolute;
            top: 0.5rem;
            right: 1rem;
            cursor: pointer;
        }

        &.modal-body ul {
            width: auto;

            li {
                display: inline-block;
                margin: 60px;

                img {
                    padding: 3px;
                }
            }
        }
    }


    // .top_contents {


    .iframe {
        position: relative;
        width: 100%;

        z-index: 1;

        .iframe_title {
            position: absolute;
            z-index: 20;
            margin: 20px 0px 7px 155px;
            padding: 10px;
            background-color: rgba(255,255,255,0.5);
            border-radius: 8px;
            font-weight: 600;

        }
        iframe {

            position: relative;
            z-index: 1;
            width: 100%;
            height: 92.2vh; //現時点での最大ウィンドウサイズにあわせている

        }

        .school_img {
            z-index: 3;
            position: absolute;
            
            #title-img {
                background-color: rgba(255, 255, 255, 0.5);
                position: relative;
                z-index: 10;
               
                width: 130px;
                border-radius: 8px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
                padding-right: 10px;
                margin-left: 10px;
                margin-top: 10px;
                margin-bottom: 0px;
            }
        }

        



    }


}

.loader {
    width: 100%;
    height: 100%;
    background-color: #00c2bc;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    pointer-events: none;
    /* 環境によって「z-index」追加 */
}

/* 読み込み完了後に「loaded」を付与する */
.loader.loaded {
    transition: all 700ms;
    opacity: 0;
    // animation: fadeOut2 3s forwards;
}

// @keyframes fadeOut2 {
//     0% {
//         opacity: 1;
//     }
//     90%{
//         opacity: 0.9;
//     }
//     100% {
//         display: none;
//         opacity: 0;
//         z-index: -1;
//     }
// }




// }




* {
    box-sizing: border-box;
}

body {
    font-family: "Avenir", "Helvetica, Neue", "Helvetica", "Arial";
}