.yahaba_list {
    max-width: 600px;

    a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #000;
    }

    label {
        width: 200px;
        display: block;
        margin: 0;
        padding: 15px;
        line-height: 1;
        color: #fff;
        background: #333;
        cursor: pointer;
        text-align: center;
        border-bottom: 3px solid #2ac5b3;

    }

    input {
        display: none;
    }

    ul {
        width: 230px;
        margin: 0px 0;
        padding: 0;
        background: #eae0d7;
        list-style: none;
        text-align: center;

    }

    li {
        height: 0;
        overflow: hidden;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    
    

    @mixin aaa($bHeight, $bOpacity) {
        height: $bHeight;
        opacity: $bOpacity;

    }
    
    #densi2:checked~#densi_list2 li,
    #mekatoro2:checked~#mekatoro_list2 li,
    #kentiku2:checked~#kentiku_list2 li{
        height: 54px;
        opacity: 1;

    }

}